@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&family=Roboto:wght@400;500;700&family=Solway:wght@700&display=swap');

*{
    box-sizing: border-box
}

/*Mobil*/
#gridcontainer{
    display:grid;
}

body{
    display:grid;
    background-color: rgb(250, 250, 250);
    text-decoration:none;
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    margin:0;
    grid-column-start: 2;
    grid-column-end: 10;
    grid-row-start: 1;
    grid-row-end:4;
    
    .ikoner{
        display:flex;
        align-items:center; 
        font-size:1.3rem;
    }

    .mobilehidden{
        display:none
    }

    a{
        text-decoration:none;
        color:black;
        font-family: Arial, Helvetica, sans-serif;
    }

    ul{
        display:flex;

        li{
            list-style:none;
        }
    }
    header{
        display:flex;
        flex-direction: row-reverse;
        align-items: baseline;
        border: 1px black;
        border-style: none none solid none;
        padding: 1rem;
        min-height: 70px;
        max-height: 80px;
        justify-content: space-around;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end:1;
   

        #hamburgercontainer {
            order: 4;
        }

         #logo{
            display:flex;
            order:2;
            justify-content: center;
            & a{
                font-family: 'Solway', serif;
                text-align:center;
                text-transform: uppercase;
                font-size: 1.5rem;
                width: 60%;
            }
         } 

        nav{
            display:flex;
            gap: 1rem;
            align-items: baseline;

            .horisontalliste{
                display:flex;
                gap: 1rem;
                #toppkundeservice{
                    gap:2rem;
                }
            }

            form{
                display:flex;
                align-items:center;
                
                #search{
                    border-radius: 20px;
                    border-style: solid;
                    border-color: black;
                    border-width: 1px;
                    max-height:1.5rem;
                }
                
            #cart{
                order:3;
            }
            #account{
                order:1;
            }
        }

        }
    
        }


        main{
            display:grid;
            grid-column-start: 1;
            grid-column-end: 3;
            grid-row-start:2;
            grid-row-end: 9;
            
            
            #Salgscontainer {
                    display: flex;
                display:flex;
                grid-area:salgscontainer;
                width:100%;
                grid-column-start: 1;
                grid-column-end: 3;
                grid-row-start: 1;
                grid-row-end:3;
    
                #salgsoverskrift{
                    background-color: #68BBF0;
                    width:50%;
                    position: relative;
                    font-size: 6rem;
                    max-height:min-content;
                    text-align:center;
                    padding: 1rem 0 0 0;
                }
                #salgsskrift{
                    display:none;
                }
            }

            #nyhetercontainer{
                grid-column-start: 2;
                grid-column-end: 3;
                grid-row-start: 1;
                grid-row-end:3;
            }
        }

    footer{
        display:grid;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 9;
        grid-row-end: 10;
    }
        
    
}

    

figure{
    margin:0;
}
    img{
    width:100%;
    margin:0;
}
figcaption{
    font-family: Arial, Helvetica, sans-serif;
    color:black;
    font-size:70%;
}


/*Mobil*/
@media only screen and (max-width:800px){
    #gridcontainer{
        display:grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 80px 7fr 7fr 4fr 7fr 3fr 3fr 5fr 5fr 3fr;
    }
    .mobilehidden{
        display:none;
    }

}


/*Desktop*/
@media only screen and (min-width: 801px) {
    body{
        .mobilehidden{
            display: flex;
        }

        #hamburgermeny{
            display:none;
        }


        .desktophidden{
            display: none;
        }

        header{
            justify-content: flex-end;
            gap:1rem;
            nav{
                justify-content: flex-start;
            }
        }

    }
}
    



/*
@media only screen and (max-width:500px){
    header{
        display:flex;
        justify-content:center;
    }

    #toppkategorier{
        display:none;
    }
    .mobilehidden{
        display: none;
    }

    #logo{
        align-items: baseline;
        padding: 1rem;
    }

    main{
        display:flex;
        flex-direction: column;
    }
}

@media only screen and (max-width:900px){
    #toppkundeservice a{
        display:none;
    }

    #search{
        display: none !important;
    }

    #logo a{
        padding: 1rem;
    }
}

@media only screen and (min-width:901px){
    
    #desktophidden a{
        display:none;
    }
}

body{
    background-color: rgb(250, 250, 250);
    text-decoration: none;
    width: 100%;
    margin: 0 auto;
    max-width: 1400px;
    
    header{
        display: flex;
        border: 1px black;
        border-style: none none solid none;
        min-height: 70px;
        align-items: baseline;
        justify-content: space-around;
    
        nav{
            gap: 1rem;
        }
    
        #logo a{
            font-family: 'Solway', serif;
            text-decoration: none;
            text-align:center;
            color: black;
            text-transform: uppercase;
            font-size: 1.5rem;
            width: 60%;
        }
    
        #toppkategorier ul{
            list-style: none;
            display: flex;
            gap: 2.5rem;
            li a{
                text-decoration: none;
                color:black;
                font-family: Arial, Helvetica, sans-serif;
             }
        }
    
        #toppkundeservice{
            list-style: none;
            display: flex;
            li a{
                display: flex;
                text-decoration: none;
                color:black;
                font-family: Arial, Helvetica, sans-serif;
            }
        }
    
        #search{
            display: flex;
            input{
                border-radius: 20px;
                border-style: solid;
                border-color: black;
                border-width: 1px;
                max-height:1.5rem;
            }
        }

        .ikoner a{
            display: flex;
        }

        #hamburgermeny{
            padding: 0 0 0 1rem
        }
        .mobilehidden{
            display:flex;
        }
    }

    main{
        display: flex;
        font-family:Arial, Helvetica, sans-serif;
        color: black;

        #salgscontainer{
            display:flex;
            width:100%;

           
        }

        #salgskrift{
            display:flex;
            background-color: #68BBF0;
            width:50%;
            flex-direction: row-reverse;
            justify-content: center;
            
            p a{
                text-decoration: none;
                color:black;
            }
        }

        #salgsbilde{
            width:50%;
        }
        
        #bildekilde{
            text-decoration: none;
            color: black;
            font-size: 0.7rem;
            font-family: Arial, Helvetica, sans-serif;
            padding:0 1rem 0 1rem;
        }
    }

    figure{
        margin:0;

        img{
            width:100%;
            height:auto;
        }
    }
}
*/